@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

.input-sm {
	font-family: 'Gothic A1', sans-serif;
    font-size: var(--font-size);
    resize: none;

	border: 1px solid var(--colour-border-dark);
	padding: 5px 12px;
	border-radius: 6px;
}

.textbox {
	display: flex;
	align-items: center;
}

.btn {
	border: 1px solid var(--colour-border-dark);
	background-color: var(--colour-theme);
	padding: 5px 12px;
	border-radius: 6px;
	font-size: var(--font-size);
	color: white;
	cursor: pointer;
	text-align: center;
}

.btn-textlink {
	display: inline;
	background-color: var(--colour-background);
	color: var(--colour-text-link);
	text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.btn-light {
	background-color: var(--colour-lighttheme);
    padding: 5px 12px;
	border-radius: 6px;
	font-size: var(--font-size);
    text-align: center;
    cursor: pointer;
}

.icon-sm {
	fill: var(--colour-icon-dark);
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.icon {
	fill: var(--colour-icon-dark);
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.icon-lg {
	fill: var(--colour-icon-dark);
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.icon-lg-l {
	fill: var(--colour-icon-light);
	width: 32px;
	height: 32px;
	cursor: pointer;
}

@media (min-width: 1024px) {

	#app {
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template:
		"a a" 64px
		"b c" / 50% 50%;
		grid-row-gap: 0;
	}

	.viewport {
		width: 100%;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.tooltip::after {
		border: 1px solid var(--colour-border);
		background-color: var(--colour-background-soft);
		padding: 6px;
		border-radius: 6px;
	}
}
  
