@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

.input-sm {
	font-family: 'Gothic A1', sans-serif;
    font-size: var(--font-size);
    resize: none;

	border: 1px solid var(--colour-border);
	padding: 5px 12px;
	border-radius: 6px;
	min-height: calc(var(--font-size) + 12px);
}

.input {
	font-family: 'Gothic A1', sans-serif;
    font-size: var(--font-size);
    resize: none;

	border: 1px solid var(--colour-border);
	padding: 5px 12px;
	border-radius: 6px;
	min-height: calc(var(--font-size) + 12px);
}

.textbox {
	display: flex;
	align-items: center;
}

.latex-text {
	font-family: var(--code-font-family);
	font-size: var(--font-size);
	tab-size: 4;
	width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--colour-border-dark);
    padding: 20px;
    resize: none;
}

.err-text {
	color: var(--colour-text-error);
}

.warn-text {
	color: var(--colour-text-error);
	font-weight: bold;
}

.latex-preview {
	width: 100%;
	height: 250px;
	max-height: none;
    /* border: 1px solid #000000; */

	padding-bottom: 20px;
    overflow-y: scroll;
}

.btn {
	border: 1px solid var(--colour-border-dark);
	background-color: var(--colour-theme);
	padding: 5px 12px;
	border-radius: 6px;
	font-size: var(--font-size);
	color: white;
	cursor: pointer;
	text-align: center;
}

.btn-textlink {
	display: inline;
	background-color: var(--colour-background);
	color: var(--colour-text-link);
	text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.btn-light {
	border: 0;
	background-color: var(--colour-lighttheme-light);
    padding: 5px 12px;
	border-radius: 6px;
	font-size: var(--font-size);
    text-align: center;
    cursor: pointer;
}

.btn-nobg {
	background-color: var(--colour-background);
    padding: 5px 12px;
	border-radius: 6px;
	border: 1px solid var(--colour-border-dark);
	font-size: var(--font-size);
    text-align: center;
    cursor: pointer;
}

.icon-sm {
	fill: var(--colour-icon-dark);
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.icon {
	fill: var(--colour-icon-dark);
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.icon-lg {
	fill: var(--colour-icon-dark);
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.icon-lg-l {
	fill: var(--colour-icon-light);
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.draggable {
    cursor: move;
}

.entry {
    width: max-content;
    background-color: var(--colour-background);
    padding: 4px 8px 4px 8px;
	border: 1px solid var(--colour-border-dark);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
	gap: 10px;
}
.entry-green {
	background-color: var(--colour-lighttheme-limegreen);
	border: 0;
}
.entry-red {
    background-color: var(--colour-lighttheme-red);
	border: 0;
}
.entry-yellow {
    background-color: var(--colour-lighttheme-yellow);
	border: 0;
}

.popup-background {
    background-color: var(--colour-background-popup);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.header {
	font-size: var(--font-size-lg3);
}
.subheader {
	font-size: var(--font-size-lg2);
}
.subsubheader {
	font-size: var(--font-size-lg1);
}

@media (min-width: 1024px) {

	#app {
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template:
		"a a" 64px
		"b c" / 50% 50%;
		grid-row-gap: 0;
	}

	.viewport {
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
		overflow-y: scroll;

		-ms-overflow-style: inherit;  /* Internet Explorer 10+ */
		scrollbar-width: inherit;  /* Firefox */
	}
	.viewport::webkit-scrollbar {
		display: inherit;
	}

	.tooltip::after {
		border: 1px solid var(--colour-border);
		background-color: var(--colour-background-soft);
		padding: 6px;
		border-radius: 6px;
	}
}
  
.no-scrollbar {
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::webkit-scrollbar {
	display: none;  /* Safari and Chrome */
}