:root {
	--font-size-sm2: 12px;
	--font-size-sm1: 14px;
	--font-size: 16px;
	--font-size-lg1: 18px;
	--font-size-lg2: 21px;
	--font-size-lg3: 25px;
	--font-size-title1: 32px;
	--black: #181818;

    --background-light: #f2f2f2;
}

.icon-lg {
	fill: var(--black);
	width: 32px;
	height: 32px;
    flex-shrink: 0;
}

.vp-doc h1 {
    margin: 48px 0 16px;
    border-top: 1px solid var(--vp-c-divider);
    padding-top: 24px;
    letter-spacing: -0.02em;
    line-height: 40px;
}

.vp-doc h1 .header-anchor {
    top: 24px;
}

.vp-doc h2 {
    margin: 0;
    border-top: 0;
    letter-spacing: -0.02em;
    line-height: 40px;
}